<%= form_for([@movie, @movie_screening]) do |f| %>
  <% if @movie_screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_screening.errors.count, "error") %> prohibited this movie screening from being saved:</h2>

      <ul>
      <% @movie_screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :movie_id, value: @movie.id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :screening_date %>
    <%= f.date_select :screening_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.time_select :start_time, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
  <br>
<% end %>
