<div>
  <h1>Movie Screenings for <%= @movie.title %></h1>
  <%= link_to 'Add Screening', new_movie_movie_screening_path(@movie), class: "btn btn-default" %>
</div>
<br>
<% @movie_screenings.each do |movie_screening| %>
  <div class="well">
    <h3><%= link_to movie_screening.friendly_start_time, movie_movie_screening_path(@movie, movie_screening) %></h3>
    <p><strong>Theater: </strong><%= movie_screening.movie.theater.name %></p>
    <p><strong>Auditorium: </strong><%= movie_screening.movie.auditorium.name %></p>
  </div>
<% end %>