<div>
  <h1>Screening for <%= @movie_screening.movie.title %></h1>

  <p>
    <strong>Theater:</strong>
    <%= @movie.theater.name %>
  </p>

  <p>
    <strong>Auditorium:</strong>
    <%= @movie_screening.movie.auditorium.name %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= @movie_screening.friendly_start_time %>
  </p>

  <p>
    <strong>Run Time:</strong>
    <%= @movie_screening.movie.run_time_hours %>
  </p>

  <p>
    <strong>Tickets Available:</strong>
    <%= @movie_screening.tickets_remaining %>
  </p>

  <%= link_to 'Buy Ticket', new_movie_screening_ticket_order_path(@movie_screening), class: "btn btn-default" %>
  <%= link_to 'Edit', edit_movie_movie_screening_path(@movie, @movie_screening), class: "btn btn-default" %>
  <%= link_to 'Back', movie_movie_screenings_path(@movie), class: "btn btn-default" %>
  <%= link_to 'Delete', movie_movie_screening_path(@movie, @movie_screening), method: :delete, class: "btn btn-default" %>
</div>
