<%= form_for([@theater, @movie]) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :theater_id, value: @theater.id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :auditorium_id %>
    <%= f.collection_select(:auditorium_id, Auditorium.where(theater_id: @theater.id), :id, :name, :prompt => 'Select Auditorium', class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :run_time_minutes %>
    <%= f.number_field :run_time_minutes, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
  <br>
<% end %>
