<div class="thumbnail padding-20">
  <h1>Movies at <%= @theater.name %></h1>

  <div class="divider-20"></div>

  <%= link_to 'Add Movie', new_theater_movie_path(@theater), class: "btn btn-default" %>

  <div class="divider-20"></div>

  <% if @movies.any? %>
    <% @movies.each do |movie| %>
      <div class="well">
        <h3><%= link_to movie.title, theater_movie_path(@theater, movie) %></h3>
        <p>
          <strong>Auditorium: </strong>
          <%= movie.auditorium.name %>
        </p>
        <% movie.movie_screenings.current_ordered_screenings.each do |movie_screening| %>
          <%= link_to "#{movie_screening.friendly_screening_date} | #{movie_screening.friendly_start_time}", movie_movie_screening_path(movie, movie_screening), class: "btn btn-sm btn-primary #{movie_screening.disable_screening}" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h4>No movies for <%= @theater.name %> at this moment</h4>
  <% end %>
</div>