<div class="thumbnail padding-20">
  <h1><%= @movie.title %></h1>

  <div class="divider-20"></div>
  
  <div class="well">
    <p>
      <strong>Theater:</strong>
      <%= @theater.name %>
    </p>

    <p>
      <strong>Auditorium:</strong>
      <%= @movie.auditorium.name %>
    </p>

    <p>
      <strong>Run Time:</strong>
      <%= @movie.run_time_hours %>
    </p>

    <p>
      <strong>Ticket Price:</strong>
      <%= number_to_currency(@movie.ticket_price) %>
    </p>
  </div>
    
  <div class="button-list">
    <%= link_to 'Edit', edit_theater_movie_path(@theater, @movie), class: "btn btn-default" %>
    <%= link_to 'Back To Theater', theater_path(@theater), class: "btn btn-default" %>
    <%= link_to 'Add Screening', new_movie_movie_screening_path(@movie), class: "btn btn-default" %>
    <%= link_to 'Delete', theater_movie_path(@theater, @movie), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-default" %>
  </div>
</div>
  

<div class="thumbnail padding-20">
  <h3>Screenings</h3>

  <div class="divider-20"></div>

  <% if @movie.movie_screenings.any? %>
    <% @movie.movie_screenings.each do |movie_screening| %>
      <div class="well">
        <h3><%= link_to movie_screening.friendly_start_time, movie_movie_screening_path(@movie, movie_screening), class: "disable" %></h3>
        <p>
          <strong>Theater: </strong>
          <%= movie_screening.movie.theater.name %>
        </p>
        <p>
          <strong>Auditorium: </strong>
          <%= movie_screening.movie.auditorium.name %>
        </p>
        <% if movie_screening.sold_out? %>
          <h4 class="sold-out"><strong>Sold Out!</strong></h4>
        <% else %>
          <%= link_to 'Buy Ticket', new_movie_screening_ticket_order_path(movie_screening), class: "btn btn-xs btn-default" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h4>No screenings scheduled at the moment</h4>
  <% end %>
</div>

