<div class="thumbnail padding-20">
  <h1><%= @theater.name %>: Auditorium <%= @auditorium.name %></h1>

  <div class="divider-20"></div>

  <div class="well">
    <p>
      <strong>Seating Capacity: </strong>
      <%= @auditorium.seating_capacity %>
    </p>

    <% if @auditorium.movies.any? %>
      <p><strong>Movies Playing: </strong></p>
      <ul>
        <% @auditorium.movies.each do |movie| %>
            <li><%= movie.title %></li>
        <% end %>
      </ul>
    <% else %>
      <p>
        <strong>Movies Playing: </strong>
        No movies playing at the moment
      </p>
    <% end %>
  </div>

  <div class="button-list">
    <%= link_to 'Edit', edit_theater_auditorium_path(@theater, @auditorium), class: "btn btn-default" %>
    <%= link_to 'Add Movie', new_theater_movie_path(@theater), class: "btn btn-default" %>
    <%= link_to 'Back To Theater', theater_path(@theater), class: "btn btn-default" %>
    <%= link_to 'Delete', theater_auditorium_path(@theater, @auditorium), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-default" %>
  </div>
</div>

<% if @auditorium.movies.any? %>
  <div class="thumbnail padding-20">
    <h3>Movie Showtimes</h3>

    <div class="divider-20"></div>
    
    <% @movies.each do |movie| %>
      <div class="well">
        <h3><%= link_to movie.title, theater_movie_path(@theater, movie) %></h3>
        <% if movie.movie_screenings.any? %>
          <% movie.movie_screenings.each do |movie_screening| %>
            <%= link_to movie_screening.friendly_start_time, movie_movie_screening_path(movie, movie_screening), class: "btn btn-sm btn-primary" %>
          <% end %>
        <% else %>
          <p>No screenings scheduled at the moment</p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
