<div class="thumbnail padding-20">
  <h1>Edit Ticket Order For <%= @movie_screening.movie.title %></h1>
  
  <div class="divider-20"></div>

  <div class="well">
    <p>
      <strong>Theater: </strong>
      <%= @movie_screening.movie.theater.name %>
    </p>
    <p>
      <strong>Auditorium: </strong>
      <%= @movie_screening.movie.auditorium.name %>
    </p>
    <p>
      <strong>Screening Time: </strong>
      <%= @movie_screening.friendly_start_time %>
    </p>
  </div>

  <%= render 'form' %>
</div>